.Signheader{
    width: 100%;
    background-color: whitesmoke;
    height:250px;
    position: relative;  
    background-image: url('https://preview.uideck.com/items/thehunt/assets/img/banner1.jpg');
}
.headertext{
  position: absolute;
  bottom: 20%;
  right:43%;
  font-size:x-large;
  font-weight: 700;

}
/* .table-striped{
  background-color:#bcbcbc;
  color: #000;
  margin-left:25rem;
  width:60%;
  margin-top:5%;
}
thead{
  column-gap:1px;
  background-color:#26AE61;
  color:white;
}
.justify-content-center{
  margin-left: 70rem;
} */
table {
  display:block;
  width: 60%;
  overflow: scroll;
  margin-left: 400px;
}
thead {
  flex: 1 1 40%;
  background-color:#26AE61;
  color: white;
  text-align:center;
}
tbody {
  flex: 1 1 40%;
  display: block;
  text-align:center;
  
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
