<footer>
  <div class="footer-container">
    <ul class="list-group">
      <div class="logo list-group-item">HireHub</div>
      <div class="list-group-item" style="width: 260px; color: #8a99b3; cursor: auto">
        We let you get to your desired job with quick and easy steps. Follow your dreams and passion here by appling to
        jobs here.
      </div>
    </ul>
    <ul class="list-group">
      <li class="list-group-item" style="font-size: 20px; color: white">Quick Links</li>
      <li class="list-group-item" routerLink="">Home</li>
      <li class="list-group-item" routerLink="about">About</li>
      <li class="list-group-item" routerLink="contact">Contact</li>
      <li class="list-group-item" routerLink="faq">FAQ</li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item" style="font-size: 20px; color: white">Address</li>

      <li class="list-group-item">
        <img src="assets/telephone.png" style="width: 30px; height: 30px; margin-right: 10px" />
        <span>
          +880- 123-456-789<br />
          +880- 123-456-789
        </span>
      </li>
      <li class="list-group-item">
        <img src="assets/email.png" style="width: 30px; height: 30px; margin-right: 10px" />
        <span>
          contact.info@hirehub.com <br />
          contact.hirehub@hirehub.com
        </span>
      </li>
      <li class="list-group-item">
        <img src="assets/location.png" style="width: 30px; height: 30px; margin-right: 10px" />
        <span> 9923 South Avenue Street, New Delhi. </span>
      </li>
    </ul>
  </div>
</footer>
<div class="footer-end">Developed by HireHub</div>
