<div class="Signheader">
    <p class="headertext">About Us</p>

  </div>
<div class="main">
    <div class="about">
        <div class="inner-section">
            <h1 style="margin-left:30px;">About Us</h1>
            <p class="text">
                "HireHub provides best career path for the freshers and Professionals those who are willing to join and switiching their career on behalf of their respective skills.HireHub provides you best companies and position according to their skills.And also guides you how to choose your career advice and helps you for the interview prepration."
               <br>
               <br>
                "HireHub wants you to grow in your life and fulfill your all dreams."
                        </p>
            <div class="skills">
                <button>More About us</button>
            </div>
        </div>
    </div>
</div>