.joblistheader{
    width: 1850px;
    background-color: whitesmoke;
    height:200px;
    position: relative;  
    background-image: url('https://preview.uideck.com/items/thehunt/assets/img/banner1.jpg');
}
::placeholder{
    padding-left: 1rem;
}
.headertext{
    position: absolute;
    bottom: 20%;
    right:47%;
    font-size:x-large;
    font-weight: 950;

}
.joblistbody{
    margin-top: 4rem;
    margin-left: 22rem;
   
    
}
input{
    width:450px;
    height:50px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 4rem;

}
#locationsearch{
    margin-left: 3rem;
}
button{
    border-radius: 4rem;
    color: white;
    border: 1px solid whitesmoke;
    background-color: #26AE68;
}
#btn1{
    margin-left: 3rem;
    width:110px;
    height:50px;
    opacity: 0.8;
    
}
#btn1:hover{
    opacity: 1;
    cursor: pointer;
}
.mainbody{
    margin-left: 22rem;
    margin-top: 2rem;
    width:60%;
    background-color: white;
    box-shadow: 7px 7px 7px 7px whitesmoke;
    height: 110px;
    position: relative;
}
#companylogo{
    width: 80px;
    position: absolute;
    bottom: 15%;
    margin-left: 2rem;
}
.companyname{
    position: absolute;
    margin-left: 7.5rem;
    bottom: 15%;
    color: #24324a;
}
.companyname:hover{
    cursor: pointer;
    
}
#btn2{
    margin-left: 25rem;
    margin-top: 2rem;
    width:7rem;
    padding: 5px;
}
.location{
   
    position: absolute;
    right: 37%;
    bottom: 43%;
}
#duration{
    right: 23%;
    position: absolute;
    bottom: 29%;
    color:  #24324a;
}
#btn3{
   
    position: absolute;
    right:5%;
    bottom: 37%;
    width: 144px;
    height: 42px;
    background-color:white;
    color: #26AE68;
   border: 1px solid;
    

}
#btn3:hover{
    color: white;
    background-color: #26AE68;
}
nav{
    position: absolute;
    bottom: 2%;
    left:19%;
    
}

a{
    background-color:rgb(78, 210, 38) ;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    margin: 0.5rem;
}

.pag
{
    margin-top: 330px;
    position: absolute;
    bottom: 7%;
    left:17%;
    color: #24324a;
    margin-left: 30%;
}