<div class="content-wrapper" style="width:99%">
  <div class="content">
    <div class="header">Pricing Plan</div>
    <div class="text-wrap">
      <div class="text">
        Choose one plan and start posting jobs from today. Make your jobs posting experience better with our services.
      </div>
    </div>
    <div style="display: flex; justify-content: center"></div>
    <div class="cards">
      <div class="card" style="border-top: 4px solid #26ae61">
        <div class="card-body">
          <div class="card-icon">
            <img src="assets/rocket.png" class="card-img" alt="..." />
          </div>
          <h5 class="card-title">Professional</h5>
          <p class="card-text">
            Post 10 Job<br />
            No Featured Job<br />
            Edit Your Job Listing<br />
            Manage Application <br />30-day Expired
          </p>
          <div class="card-price">
            <sub style="font-size: 20px; font-weight: 400">Rs.</sub>10<sub style="font-size: 20px; font-weight: 400"
              >/month</sub
            >
          </div>

          <div class="card-btn" routerLink="/subscription/Professional">Get Started</div>
        </div>
      </div>

      <div class="card" style="border-top: 4px solid red">
        <div class="card-body">
          <div class="card-icon">
            <img src="assets/drop-of-liquid.png" class="card-img" alt="..." />
          </div>
          <h5 class="card-title">Advance</h5>
          <p class="card-text">
            Post 20 Job<br />
            No Featured Job<br />
            Edit Your Job Listing<br />
            Manage Application <br />30-day Expired
          </p>
          <div class="card-price">
            <sub style="font-size: 20px; font-weight: 400">Rs.</sub>20<sub style="font-size: 20px; font-weight: 400"
              >/month</sub
            >
          </div>

          <div class="card-btn" routerLink="/subscription/Advance">Get Started</div>
        </div>
      </div>
      <div class="card" style="border-top: 4px solid blue">
        <div class="card-body">
          <div class="card-icon">
            <img src="assets/suitcase.png" class="card-img" alt="..." />
          </div>
          <h5 class="card-title">Premium</h5>
          <p class="card-text">
            Post 40 Job<br />
            No Featured Job<br />
            Edit Your Job Listing<br />
            Manage Application <br />30-day Expired
          </p>
          <div class="card-price">
            <sub style="font-size: 20px; font-weight: 400">Rs.</sub>40<sub style="font-size: 20px; font-weight: 400"
              >/month</sub
            >
          </div>

          <div class="card-btn" routerLink="/subscription/Premium">Get Started</div>
        </div>
      </div>
    </div>
  </div>
</div>
